
[submodule "numericalrecipes"]
	path = numericalrecipes
	url = http://simon:mutter20panir@git.meteo.uni-bonn.de/git/numericalrecipes
[submodule "radolan"]
	path = radolan
	url = https://github.com/meteo-ubonn/radolan.git
